<button class='btn btn-info btn-lg bottom-flat'>Lead Source </button>
<div class='well'>
    <dl class="dl-horizontal">
        <dt>Name: </dt>
        <dd><%= @source.name %></dd>

    </dl>

    <% if current_user.has_role? :admin %>
        <%= link_to :Edit, edit_lead_source_path(@source) %>
    <% end %>
</div>
