<button class='btn btn-info btn-lg bottom-flat'>My Leaves</button>
<% @leaves.each do |leave| %>
    <div class='well'>
        <%= link_to leave.start_date, leave_path(leave) %>
    </div>
<% end %>
<% if @leaves.empty? %>
    <div class="well">
        You have not applied any leaves yet.
    </div>
<% end %>
