
<div class="left-pane">
<button class='btn btn-info btn-lg bottom-flat' id="filter-main-btn">Filter</button>
<div class="well filter-box" >

    <div id="amount-filter-box" class="small-box">
        <div class="box-header">
            Start Date
        </div>
        <div class="box-content">
            <p>
            <input type="radio" name="amount" id="filter_by_asc" value="asc" /> Asc
            </p>
            <p>
            <input type="radio" name="amount" id="filter_by_desc" value="desc" /> Desc
            </p>
        </div>
    </div>
    <div id="status-filter-box" class="small-box">
        <div class="box-header">
            Status 
        </div>
        <div class="box-content">
            <p>
            <input type="radio" name="status" id="filter_by_status_pending" value="pending" /> Pending
            </p>
            <p>
            <input type="radio" name="status" id="filter_by_status_rejected" value="rejected" /> Rejected
            </p>
            <p>
            <input type="radio" name="status" id="filter_by_status_approved" value="approved" /> Approved
            </p>
            <p>
            <input type="radio" name="status" id="filter_by_status_none" value="none" /> Nothing
            </p>

        </div>
    </div>


    <button id="submit-filter" class="btn btn-primary">Filter</button>
</div>
</div>
<div class='right-pane'>
<button class='btn btn-info btn-lg bottom-flat'>Leaves</button>
<% @leaves.each do |leave| %>
    <div class='well'>
        <% if current_user.has_role? :admin %>
            <span class='medium-text'><%= link_to "#{leave.start_date } by #{leave.user.available_name}", admin_leave_edit_path(leave), title: "Click to edit" %></span>
        <% else %>
        <span class='medium-text'><%= link_to "#{leave.start_date}", leave_show_path(leave) %></span>
        <% end %>
        
        <% if leave.status_display == "Pending" %>
        <div class="badge badge-warning">Pending</div>
        <% elsif leave.status_display == "Rejected" %>
            <div class="badge badge-error">Rejected</div>
        <% elsif leave.status_display == "Approved" %>
            <div class="badge badge-success">Approved</div>
        <% end %>
    </div>
<% end %>
</div>


<%= javascript_include_tag "leave", "data-turbolinks-track" => true %>

