
<div id="home">
<h1>AgencyBox</h1>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <div>
                <i class="fa fa-home fa-5x"></i>
            </div>
            <p class='title'>
                Leaves
            </p>
            <p class="content">
                Your agency can manage leaves for your employees. Employees can apply for leaves, admin can mark them as pending, accept reject.
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <i class="fa fa-group fa-5x"></i>
            </p>
            <p class='title'>
                CRM
            </p>
            <p class="content">
                You can add new leads which are meant to be `open leads` in the beginning. Convert them. See open/converted leads. 
                See reports on what kind of contacts have converted in what time etc..
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <i class="fa fa-money fa-5x"></i>
            </p>
            <p class='title'>
                Expenses
            </p>
            <p class="content">
                Track expenses claimed by the employees of your agency. Admin can accept, reject them.
            </p>

        </div>
        <div class="col-md-3">
            <p>
                <i class="fa fa-inbox fa-5x"></i>
            </p>
            <p class='title'>
                Messaging
            </p>
            <p class="content">
                Members of your agency can message one another. They can see whether they got new messages, they can see their sent messages.
            </p>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <div>
                <i class="fa fa-code fa-5x"></i>
            </div>
            <p class='title'>
                Project Management
            </p>
            <p class="content">
                Add projects and add members to it so the members can know the things they are dealing with the project
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <i class="fa fa-ticket fa-5x"></i>
            </p>
            <p class='title'>
                Tickets
            </p>
            <p class="content">
                Ticketing system allows the members of a project to assign tasks to another project members so work can be done easily. Change in the ticket is reported as a separate comment
                 so there wont be any confusion in what have changed in the description.
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <i class="fa fa-bar-chart-o fa-5x"></i>
            </p>
            <p class='title'>
                Reports
            </p>
            <p class="content">
                Reports for leaves, expenses, CRM etc are available 
            </p>

    </div>

</div>
</div>
