<button class='btn btn-info btn-lg bottom-flat'>Categories</button>
<div class="well">
<% @all.each do |category| %>
    <div class='category'>
        <%= link_to category.name, expense_category_show_path(category.slug) %>
    </div>
<% end %>
</div>
