<button class='btn btn-info btn-lg bottom-flat'>Category - <%= @category.name %></button>
<div class='well'>
    <dl class="dl-horizontal">
        <dt>Name: </dt>
        <dd><%= @category.name %></dd>

        <dt>Description: </dt>
        <dd><%= @category.description %></dd>
    </dl>
</div>
