// Place all the styles related to the ExpenseAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-form-div { width: 400px; margin-left: 60px; margin-top: 30px; }
.edit-form-div select { width: 100px; display: inline-block; }
.expense-edit.well { width: 500px; }
