// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message .contact-name { width: 200px; float: left; }
.message .subject { width: 700px; float: left;  }
.message .created-at { width: 100px; float: right; }


