<div id='tickets' class='well'>
    <table class='table table-bordered table-striped'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

        
    <% @tickets.each do |ticket| %>
        <tr>
            <td>
                <%= link_to ticket.name, project_ticket_path({:namespace_slug => ticket.project.slug , :id => ticket.id }) %>
            </td>
            <td>
                <%= ticket.status %>
            </td>
        </tr>
    <% end %>
    <% if @tickets.length == 0 %>
        <tr><td colspan=2>
                <center>  <h2>No tickets</h2></center>
        </td></tr>
    <% end %>
    </tbody>
    </table>


</div>
